@model ProudSourceBeta.Models.EntrepreneurIndexViewModel

<link href="~/Content/Shared/Shared.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Entrepreneur/index.css" rel="stylesheet" type="text/css" />

<script>
    function createNewProject() {
        location.href = '@string.Format("/Entrepreneur/createProject/{0}", Model.Entrepreneur_ID)'
    }
</script>

<div class="title-container">
    <div class="title">
        Projects
    </div>
</div>

<div id="container">

        @*<div class="data-container bordered-grey">

            <div style="float: left;">
                @{ var imgSrc = "/Images/emptyProfile2.jpg";
                    if (Model.Profile_Picture != null)
                    {
                        var base64 = Convert.ToBase64String(Model.Profile_Picture);
                        imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                }
                <img class="circular profile-image" src="@imgSrc" />
            </div>

            <div class="account-title" style="">
                <b>Entrepreneur Profile</b>
            </div>

            <div style="clear: left"> </div>

            <div class="data-title">
                <b>Name:</b>
            </div>
            <div class="data">
                @Html.DisplayFor(model => model.Name)
            </div>
            <br />

            <button class="data flat-button flat-button-small green" onclick="location.href='@string.Format("/Entrepreneur/Edit/{0}", Model.Entrepreneur_ID)'">
                Edit Profile
            </button>

        </div>*@



        @if (Model.Projects.Count == 0)
        {
            <div class="data-container bordered-grey center" style="">
                <div class="fill-center-text" style="margin: auto">
                    <b>You have no projects!</b>
                </div>

                <button onclick="createNewProject()" class="flat-button blue"> Create New Project!</button>
            </div>
        }
        else
        {
                <table class="table table-hover" style="text-align: left; font-size: 200%; width: 100%">

                    <tbody>
                        @* Insert data into table from projects array *@
                        @foreach (System.Data.DataRow project in Model.Projects)
                        {
                            <div class="project-row">
                                <div class="title">
                                    @project["Name"]
                                </div>

                                <div class="title">
                                    Account Balance : @project["Project_Balance"]
                                </div>

                                <button onclick="(function go() { window.location = '@string.Format("/Project/Details/{0}", project["Project_ID"])' })()" class="flat-button flat-button-small green ent-project-btn" style="float: right;">
                                    View
                                </button>

                                <button onclick="(function go() { window.location = '@string.Format("/Project/Index/{0}", project["Project_ID"])' })()" class="flat-button flat-button-small blue ent-project-btn" style="float: right;">
                                    Edit
                                </button>
                            </div>
                        }

                    </tbody>
                </table>

                <br />

                <div class="container" style="text-align: center">
                    <button onclick="createNewProject()" class="flat-button large-btn blue"> Create New Project!</button>
                </div>

                




        }

</div>


