@model ProudSourceBeta.Models.FinancialAccountDetails

@{
    ViewBag.Title = "Index";
}

<h2>Financial Account Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Account_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_Balance)
        </dd>

    </dl>

    <hr />

    <div>

        @if (Model.Transactions != null)
        {
            if (Model.Transactions.Count > 0)
            {
                <table id="transaction-results" class="table-hover table-responsive">
                    <thead></thead>
                    <tr>

                        <th class="col-sm-1">#</th>

                        <th class="col-sm-1">Amount</th>

                        <th class="col-sm-2">Date</th>

                        <th class="col-sm-4">Description</th>

                        <th class="col-sm-4">Currency</th>

                    </tr>

                    @foreach (System.Data.DataRow i in Model.Transactions)
                    {
                        <tr>

                            <td class="col-sm-1">@i["Transaction_ID"].ToString()</td>

                            <td class="col-sm-1">@i["Amount"].ToString()</td>

                            <td class="col-sm-2">@i["Date_of_Transaction"].ToString()</td>

                            <td class="col-sm-4">@i["Description"].ToString()</td>

                            <td class="col-sm-4">@i["Currency"].ToString()</td>

                        </tr>
                    }
                </table>
            }
        }
        @if(Model.Transactions == null)
        {
            <p>This account seems to be new, show it some love by sending it some money</p>
        }

    </div>

    <br />

    <div class="container">
        <div id="form-container" class="input-group">
            <form id="checkout" method="post">
                <div id="payment-form"></div>
                <input class="form-control" type="number" name="Amount"/>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

</div>

<hr />

<p>
    <a href="/User/Index">back to user profile</a>
</p>
@section Scripts {
    <script src="https://js.braintreegateway.com/js/braintree-2.21.0.min.js"></script>
    <script type="text/javascript">
        braintree.setup("@Model.Client_BrainTree_Token",
            "dropin", {
                container: "payment-form",
            }
        );
    </script>
}