@model ProudSourceBeta.Models.FinancialAccountDetails

@{
    ViewBag.Title = "Index";
}

<h2>Financial Account Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Account_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processed_Account_Balance_USD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processed_Account_Balance_USD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processed_Account_Balance_BTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processed_Account_Balance_BTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pending_Account_Balance_USD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pending_Account_Balance_USD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pending_Account_Balance_BTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pending_Account_Balance_BTC)
        </dd>

    </dl>

    <hr />

    <div>

        @if (Model.Pending_Transactions != null)
        {
            if (Model.Pending_Transactions.Count > 0)
            {
                <table id="transaction-results" class="table-hover table-responsive">
                    <thead>Pending Transactions</thead>
                    <tr>

                        <th class="col-sm-1">#</th>

                        <th class="col-sm-1">Amount</th>

                        <th class="col-sm-2">Date</th>

                        <th class="col-sm-2">Description</th>

                        <th class="col-sm-2">Currency</th>

                        <th class="col-sm-2">Status</th>

                    </tr>

                    @foreach (System.Data.DataRow i in Model.Pending_Transactions)
                    {
                        <tr>

                            <td class="col-sm-1">@i["Transaction_ID"].ToString()</td>

                            <td class="col-sm-1">@i["Amount"].ToString()</td>

                            <td class="col-sm-2">@i["Date_of_Transaction"].ToString()</td>

                            <td class="col-sm-2">@i["Description"].ToString()</td>

                            <td class="col-sm-2">@i["Currency"].ToString()</td>

                            <td class="col-sm-2">@i["Transaction_State"].ToString()</td>

                        </tr>
                    }
                </table>
            }
        }
        @if(Model.Pending_Transactions.Count == 0)
        {
            <p>There are no pending transactions</p>
        }

    </div>
    <hr />
    <div>

        @if (Model.Processed_Transactions != null)
        {
            if (Model.Processed_Transactions.Count > 0)
            {
                <table id="transaction-results" class="table-hover table-responsive">
                    <thead>Processed Transactions</thead>
                    <tr>

                        <th class="col-sm-1">#</th>

                        <th class="col-sm-1">Amount</th>

                        <th class="col-sm-2">Date</th>

                        <th class="col-sm-2">Description</th>

                        <th class="col-sm-2">Currency</th>

                        <th class="col-sm-2">Status</th>

                    </tr>

                    @foreach (System.Data.DataRow i in Model.Processed_Transactions)
                    {
                        <tr>

                            <td class="col-sm-1">@i["Transaction_ID"].ToString()</td>

                            <td class="col-sm-1">@i["Amount"].ToString()</td>

                            <td class="col-sm-2">@i["Date_of_Transaction"].ToString()</td>

                            <td class="col-sm-2">@i["Description"].ToString()</td>

                            <td class="col-sm-2">@i["Currency"].ToString()</td>

                            <td class="col-sm-2">@i["Transaction_State"].ToString()</td>

                        </tr>
                    }
                </table>
            }
        }
        @if (Model.Processed_Transactions.Count == 0)
        {
            <p>This accoutn appears to not have any processed transactions... transactions will appear here after they clear pending status.</p>
        }

    </div>

    <hr />

    <div class="container">
        <div id="form-container" class="input-group">
            <form id="checkout" method="post" class="form-horizontal">
                <div id="payment-form"></div>
                <input class="form-control" type="number" name="Amount"/>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

</div>

<hr />

<p>
    <a href="/User/Index">back to user profile</a>
</p>
@section Scripts {
    <script src="https://js.braintreegateway.com/js/braintree-2.21.0.min.js"></script>
    <script type="text/javascript">
        braintree.setup("@Model.Client_BrainTree_Token",
            "dropin", {
                container: "payment-form",
            }
        );
    </script>
}