@model ProudSourcePrime.Models.ImageFileModel


@using (Html.BeginForm("UploadImage", "IO", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @*@Html.AntiForgeryToken()*@
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Profile_Id)
        @Html.HiddenFor(model => model.IsProject)

        <div class="form-group">
            @Html.LabelFor(model => model.ImageData, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-offset-2 col-md-6">
                <span class="btn btn-default" >
                    <input id="upload_Image" type="file" name="image_upload" />
                </span> 
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
