@model ProudSourceBeta.Models.InvestorIndexViewModel

<link href="~/Content/User/User.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Shared/Shared.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Entrepreneur/index.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Investor/index.css" rel="stylesheet" type="text/css" />



<div class="title-container">
    <div class="title">
        My PROCs
    </div>
</div>

<div id="container">


        @if (Model.PROCS_Collection.Count > 0)
        {


                            @*<td class="col-sm-1"><a href="@string.Format("/PROC/Details/{0}", i["Proc_ID"].ToString())">@i["Proc_ID"]</a></td>

                            <td class="col-sm-1">@i["Investment_Ammount"].ToString()</td>

                            <td class="col-sm-1">@i["Revenue_Percentage"].ToString()</td>

                            <td class="col-sm-1">@i["Active"].ToString()</td>*@


            <table class="table table-hover" style="text-align: left; font-size: 200%; width: 100%">

                <tbody>
                    @* Insert data into table from projects array *@
                    @foreach (System.Data.DataRow proc in Model.PROCS_Collection)
                    {
                        <div class="project-row">
                            <div class="title">
                                @string.Format("{0} {1} | Investment ${2} | Revenue %{3}", proc["Project_Name"], proc["Entrepreneur_Name"], (decimal)proc["Investment_Ammount"], proc["Revenue_Percentage"])
                            </div>

                            <button onclick="(function go() { window.location = '@string.Format("/PROC/Details/{0}", proc["Proc_ID"])' })()" class="flat-button flat-button-small green ent-project-btn" style="float: right;">
                                View
                            </button>

                        </div>
                    }

                </tbody>
            </table>
        }
        <br />
        @if (Model.PROCS_Collection.Count <= 0)
        {
                <div class="fill-center-text no-procs" style="margin: auto">
                    <b>You have no PROCs!</b>
                </div>

                <div class="proc-explain">
                    <div class="title">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        What is a PROC?
                    </div>
                    <div class="body"> &nbsp; &nbsp;A PROC is a P...R..O..C.. This is what let's you talk to developers and negotiate the terms of an investment.</div>
                    <div class="title">
                        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                        How do I create a PROC?
                    </div>
                    <div class="body"> &nbsp; &nbsp;To create a PROC, go to a project's page and hit the invest button! This will start the investment process and concequently create a PROC involving you and the Entreprenur you wish to invest in.</div>
                </div>

        }

    </div>

</div>

</div>
